# Reference: https://github.com/i3/i3/blob/next/etc/config

config-version = 2
enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false
start-at-login = true
automatically-unhide-macos-hidden-apps = true
persistent-workspaces = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[mode.main.binding]
alt-h = 'focus --boundaries-action wrap-around-the-workspace left'
alt-j = 'focus --boundaries-action wrap-around-the-workspace down'
alt-k = 'focus --boundaries-action wrap-around-the-workspace up'
alt-l = 'focus --boundaries-action wrap-around-the-workspace right'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

alt-minus = 'split horizontal'
alt-backslash = 'split vertical'

alt-a = 'layout v_accordion'               # 'layout stacking' in i3
alt-s = 'layout h_accordion'               # 'layout tabbed' in i3
alt-d = 'layout tiles horizontal vertical' # 'layout toggle split' in i3

alt-shift-space = 'layout floating tiling' # 'floating toggle' in i3

alt-ctrl-enter = 'fullscreen'

# Not supported, because this command is redundant in AeroSpace mental model.
# See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
#alt-space = 'focus toggle_tiling_floating'

# `focus parent`/`focus child` are not yet supported, and it's not clear whether they
# should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
# alt-a = 'focus parent'

alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-6 = 'workspace 6'
alt-7 = 'workspace 7'
alt-8 = 'workspace 8'
alt-9 = 'workspace 9'
alt-0 = 'workspace 10'

alt-shift-1 = 'move-node-to-workspace 1 --focus-follows-window'
alt-shift-2 = 'move-node-to-workspace 2 --focus-follows-window'
alt-shift-3 = 'move-node-to-workspace 3 --focus-follows-window'
alt-shift-4 = 'move-node-to-workspace 4 --focus-follows-window'
alt-shift-5 = 'move-node-to-workspace 5 --focus-follows-window'
alt-shift-6 = 'move-node-to-workspace 6 --focus-follows-window'
alt-shift-7 = 'move-node-to-workspace 7 --focus-follows-window'
alt-shift-8 = 'move-node-to-workspace 8 --focus-follows-window'
alt-shift-9 = 'move-node-to-workspace 9 --focus-follows-window'
alt-shift-0 = 'move-node-to-workspace 10 --focus-follows-window'

alt-tab = 'workspace-back-and-forth'

alt-shift-c = 'reload-config'

[[on-window-detected]]
check-further-callbacks = true
run = [ 'layout floating' ]

[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'com.microsoft.Outlook'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'com.rockysandstudio.DeskApp-for-Gmail'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'com.google.Chrome'
if.during-aerospace-startup = true
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'com.apple.iBooksX'
run = 'move-node-to-workspace 2'

[[on-window-detected]]
if.app-id = 'com.apple.iphonesimulator'
run = 'move-node-to-workspace 3'

[[on-window-detected]]
if.app-id = 'com.figma.Desktop'
run = 'move-node-to-workspace 4'

[[on-window-detected]]
if.app-id = 'io.hoppscotch.desktop'
run = 'move-node-to-workspace 6'

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = 'move-node-to-workspace 7'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace 7'

[[on-window-detected]]
if.app-id = 'md.obsidian'
run = 'move-node-to-workspace 7'

[[on-window-detected]]
if.app-id = 'com.apple.iWork.Pages'
run = 'move-node-to-workspace 7'

[[on-window-detected]]
if.app-id = 'com.google.Chrome'
if.during-aerospace-startup = false
run = 'move-node-to-workspace 9'

[[on-window-detected]]
if.app-id = 'com.googlecode.iterm2'
run = 'move-node-to-workspace 10'

[[on-window-detected]]
if.app-id = 'com.apple.dt.Xcode'
run = 'move-node-to-workspace 10'

[[on-window-detected]]
if.app-id = 'com.google.android.studio'
run = 'move-node-to-workspace 10'

[workspace-to-monitor-force-assignment]
1 = [1, 'secondary', 'main']
2 = [1, 'secondary', 'main']
3 = [1, 'secondary', 'main']
4 = [1, 'secondary']
5 = ['secondary', 'main']
6 = 'main'
7 = 'main'
8 = [3, 'main']
9 = [3, 'main']
10 = [3, 'main']
