*
!.aerospace.toml

!.config/
!.config/alacritty/
!.config/alacritty/*
!.config/alacritty/**/*
!.config/bat/
!.config/bat/**/*
!.config/btop/
!.config/btop/*
!.config/btop/**/*
!.config/gh/
!.config/gh/*
!.config/gh/**/*
!.config/ghostty/
!.config/ghostty/*
!.config/ghostty/**/*
!.config/git/
!.config/git/**/*
!.config/hypr/
!.config/hypr/*
!.config/hypr/**/*
!.config/hyprland-preview-share-picker/
!.config/hyprland-preview-share-picker/*
!.config/hyprland-preview-share-picker/**/*
!.config/karabiner/
!.config/karabiner/assets/
!.config/karabiner/assets/**/*
!.config/karabiner/karabiner.json
!.config/kitty/
!.config/kitty/*
!.config/kitty/**/*
!.config/lazygit/
!.config/lazygit/config.yml
!.config/mise/
!.config/mise/*
!.config/mise/**/*
!.config/opencode
!.config/opencode/**/*
!.config/pulse/
!.config/pulse/*
!.config/pulse/**/*
!.config/qalculate/
!.config/qalculate/*
!.config/qalculate/**/*
!.config/starship.toml
!.config/swayosd/
!.config/swayosd/*
!.config/swayosd/**/*
!.config/walker/
!.config/walker/*
!.config/walker/**/*
!.config/waybar/
!.config/waybar/*
!.config/waybar/**/*
!.config/yay/
!.config/yay/*
!.config/yay/**/*
!.config/yazi
!.config/yazi/**/*

.config/lazygit/*

!.gitconfig
!.gitignore
!.ideavimrc
!.iterm2-keys.itermkeymap
!.iterm2-profiles.json
!.keyboard.vil
!.misc/
!.misc/*
!.myzshrc
!.rectangle-config.json
!.zsh/
!.zsh/*
!.zshrc
!arch-core-packages.txt
!bin/
!bin/*
!brews.txt
!scripts
!setup/
!setup/*
.dotfiles
