*
.dotfiles
!.aerospace.toml
!.config/bat/
!.config/karabiner/assets/
!.config/karabiner/karabiner.json
!.config/lazygit/config.yml
!.config/starship.toml
!.gitconfig
!.gitignore
!.ideavimrc
!.iterm2-profiles.json
!.misc/
!.misc/*
!.myzshrc
!.rectangle-config.json
!.setup.sh
!.zsh.d/
!.zsh.d/*
!.zshrc
!bin/
!bin/*
!scripts
