*
!.aerospace.toml
!.config/
!.config/bat/
!.config/bat/**/*
!.config/git/
!.config/git/**/*
!.config/karabiner/
!.config/karabiner/assets/
!.config/karabiner/assets/**/*
!.config/karabiner/karabiner.json
!.config/lazygit/
!.config/lazygit/config.yml
!.config/opencode
!.config/opencode/**/*
!.config/starship.toml
!.config/yazi
!.config/yazi/**/*
!.gitconfig
!.gitignore
!.ideavimrc
!.iterm2-keys.itermkeymap
!.iterm2-profiles.json
!.keyboard.vil
!.misc/
!.misc/*
!.myzshrc
!.rectangle-config.json
!setup/
!setup/*
!.zsh/
!.zsh/*
!.zshrc
!bin/
!bin/*
!arch-core-packages.txt
!brews.txt
!scripts
.config/lazygit/*
.dotfiles
