layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="utils" {
    pane stacked=true {
      pane command="nvim" {
        name "notes"
        cwd "~/second-brain/"
        expanded true
      }
      pane command="lazygit" {
        name "lazygit"
        cwd "~/second-brain/"
      }
      pane command="btop" {
        cwd "~"
        start_suspended true
      }
    }
  }
  tab name=".config" {
    pane stacked=true {
      pane command="nvim" {
        name "nvim"
        cwd "~/.config/"
        expanded true
      }
      pane {
        name "Dotfiles"
        cwd "~"
      }
    }
  }
  tab name="neovim config" {
    pane stacked=true {
      pane command="nvim" {
        name "nvim"
        cwd "~/.config/nvim"
        expanded true
      }
      pane command="lazygit" {
        name "lazygit"
        cwd "~/.config/nvim"
      }
    }
  }
}
