layout {
  pane size=1 borderless=true {
    plugin location="tab-bar"
  }
  pane stacked=true {
    pane command="nvim" {
      name "Notes"
      cwd "~/second-brain/"
      expanded true
    }
    pane command="btop" {
       cwd "~"
       start_suspended true
    }
    pane {
      name "Dotfiles"
      cwd "~"
    }
  }
  pane size=1 borderless=true {
    plugin location="status-bar"
  }
}
